@import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.list-wrapper {
  background: #ccc;
  padding: 20px;
}
.list-wrapper.type3 {
  background: #000;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul li {
  list-style: none;
  padding: 12px;
  color: #000;
  border-radius: 10px;
}
.type1 li,
.type2 li,
.type3 li {
  background: #fff;
}
.list-wrapper h1 {
  color: #fff;
  margin-bottom: 15px;
}
.type3 li {
  padding: 5px 10px;
  margin-left: 10px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
